@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    font-weight: 600; 
    color: black;
    padding-right: 20px;
}
.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: blue;
}

html{
    overflow-y: scroll;
}
